  body{
    background-color: orange;
  }
  hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 4px;
    width: 10%;
 border-color: yellow;
  }
h1{
  color: #BBFFFF;
}
h3{
  color:green;
}
